
p::first-letter{
    font-size: 150%;
}

#resim_1 {
    max-width: 400px;
    min-width: 250px;
    width:50%; 
    height:60%;
    border: solid 1px #204E5F;
    border-radius: 5px;
    float: right;
}
#resim_2{
    max-width: 400px;
    min-width: 250px;
    width:60%; 
    height:50%;
    border: solid 1px #204E5F;
    border-radius: 5px;
    float: left;
    margin-top: 10px;
}




@media only screen and (min-width: 992px){

    .yazi {
        padding: 20px;
        margin-left: 250px;
        margin-right: 250px;
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        color: #333333;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    

    .yazi {
        margin-left: 20%;
        margin-right: 20%;
        padding: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        color: #333333;
    }
}

@media only screen and (max-width: 767px){
    
    .yazi {
        margin-top: 40px;
        margin-left: 15%;
        margin-right: 20%;
        padding: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
        color: #333333;
    }
    footer{
        margin-top: 150px;
    }
}