
p::first-letter{
    font-size: 150%;
}
.container{
    margin-top: 15px;
}


@media only screen and (min-width: 992px){


    
    .yazi {
        padding: 20px;
        margin-left: 250px;
        margin-right: 250px;
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        color: #333333;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    
    .yazi {
        margin-left: 30px;
        margin-right: 50px;
        padding: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        color: #333333;
    }
}

@media only screen and (max-width: 767px){
    
    .container {
        margin-top: 80px;
        margin-left: 9px;
    }
    .yazi {
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 50px;
        padding: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
        color: #333333;
    }
}