
h1, h3, h4, h5, h6, li, p, div{
    font-family: 'Times New Roman', Times, serif;
}
.login{
    width: 80%;
    height: 300px;
    position: relative;
    margin: auto;
    margin-top: 80px;
    font-size: large;
    color: #233255;
    text-align: center;
    left: 0;

}
input{
    width: 150px;
    padding: 5px;
    position: relative;
    margin: auto;
    border: solid 1px #FF8984;
    border-radius: 20px;
    background-color: #79A7A8;
    color: #233255;
    transition: 0.25s;
    text-align: center;
    outline: none;
}
input:focus{
    width: 200px;
}
@media only screen and (min-width: 992px){

    

}

@media only screen and (min-width: 768px) and (max-width: 991px){
    
}

@media only screen and (max-width: 767px){
   
}