body {
    background-color: #efefef;
}

a {
    text-decoration: none;
}

h1, h3, h4, h5, h6, li, p{
    font-family: 'Times New Roman', Times, serif;
}

.logo{
    color:#204E5F;
    font-size: 3em;
   transform: translate(47%,0);
}

header .for_border a{
    font-family: sans-serif;
    font-weight: 600;
    color: #B7D7D8;
}


header {
    margin-top: 5px;
    width: 100%;
    height: 100px;
    background-color: #efefef;
}
header .for_border{
    background-color: #79A7A8;
}

.cv {
    position: relative;
    margin: auto;
    border: solid 1px red;
    width: 55%;
    height: 50em;
}
/* 1.Bolum*/
.tanitim {
    float: left;
    border-right: solid 2px #EDF7F5;
    width: 33%;
    height: 100%;
    background-color: #FF8984;
}

.resim{
    width: 100%;
    height: 20%;
}

.iletisim{
    width: 100%;
    height: 33%;
    color: #204E5F;
}


.kisisel{
    color: #204E5F;
}
 
/* 2. Bölüm */

.ozellikler{
    float: left;
    width: 67%;
    height: 100%;
    background-color: #204E5F;
    color: #FF8984;
}

#verticle {
    float: left;
    border-left: 2px solid #EDF7F5;
    margin-right: 15px;
    height: 30px;
    left: 50%;
}

.yabanci_dil {
    float: left;
    border-right: 2px solid #EDF7F5;
    width: 50%;
    height: 43%;
}

.yetenekler {
    float: left;
    width: 50%;
    height: 45%;
}

.ben{
    padding: 15px;
    position: relative;
    margin: auto;
    width: 55%;
    margin-top: 30px;
    border: 1px solid #FF8984;
}

.ben p{
    font-weight: 600;
}

@media only screen and (min-width: 992px){


    header .for_border{
        border-radius: 50px;
        width: 80%;
        height: 60px;
        border: solid 1px #204E5F;
        position: absolute;
        text-align: center;
        line-height: 60px;
        word-spacing: 4.7em;
        transform: translate(10%,25px);
    }
    
    
    footer {
        width: 80%;
        top: -40px;
        left:0;
        transform: translate(12%,0);
    }

    footer table tr td{
        border-radius: 10px;
        width: 500px;
    }


    footer .social_media ul li{
        padding-left: 70px;
        float:left;
        color:#333333;
        list-style: none;
    }

    

}

@media only screen and (min-width: 768px) and (max-width: 991px){
    
    header .for_border{
        border-radius: 50px;
        width: 80%;
        border: solid 1px #233255;
        position: absolute;
        text-align: center;
        line-height: 70px;
        word-spacing: 2em;
        transform: translate(10%,15px);
    }
    
    .yazi {
        margin-left: 20%;
        margin-right: 20%;
        padding: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        color: #333333;
    }

    footer {
        width: 80%;
        top: -40px;
        left:0;
        transform: translate(12%,0);
    }

    footer table tr td{
        width: 500px;
    }

    footer .social_media ul li{
        padding-left: 40px;
        float:left;
        color:#333333;
        list-style: none;
    }

}

@media only screen and (max-width: 767px){
    
    .cv{
        margin-top: 80px;
    }

    .ozellikler{
        display: none;
    }
    .tanitim{
        width: 100%;
    }

    header .for_border{
        width: 80%;
        border: solid 1px #233255;
        position: absolute;
        text-align: center;
        line-height: 70px;
        word-spacing: 0px;
        transform: translate(10%,15px);
    }

    
    
    .yazi {
        margin-top: 10px;
        margin-left: 15%;
        margin-right: 20%;
        padding: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
        color: #333333;
    }

    footer {
        width: 80%;
        top: -40px;
        left:0;
        transform: translate(12%,0);
    }

    footer table tr td{
        width: 500px;
    }

    footer .social_media ul li{
        padding-left: 17%;
        float:left;
        color:#333333;
        list-style: none;
    }
}